<extend name="Public/basic"/>

<block name="body">
	<ul class="nav nav-tabs">
		<li class="active"><a href="{:U('Contact/activeList')}">管理活动</a></li>
		<li><a href="{:U('Contact/addActive')}">添加活动</a></li>
	</ul>
	<div class="main">
		<div class="panel panel-default">
			<div class="panel-body">
				<form action="{:U('Contact/activeList')}" method="post" class="form-horizontal" role="form" id="form1">
					<div class="form-group">
						<label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">活动名称:</label>
						<div class="col-xs-12 col-sm-1 col-md-2">
							<input class="form-control" name="title" type="text" value="{$title}" placeholder="用户名">
						</div>
						<input name="submit" type="submit" style="margin-left: 120px;" value="搜索" class="btn btn-primary">
					</div>
				</form>
				<br>
				<table class="table table-hover table-bordered">
					<thead>
						<tr>
							<th style="width:50px;">编号</th>
							<th style="width:30%;">标题</th>
							<!-- <th style="width:5%;">网址</th> -->
							<th style="width:15%;">活动发起人</th>
							<th style="width:15%;">活动地点</th>
							<th style="width:15%;">添加时间</th>
							<th style="width:15%;">活动时间</th>
							<th style="width:10%;">操作</th>
						</tr>
					</thead>
					<tbody>
						<notempty name="list">
							<volist name="list" id="vo">
								<tr>
									<td>{$vo.id}</td>
									<td>{$vo.title}</td>						  
									<!-- <td><a href="javascript:prompt('请使用Ctrl+C复制','{:U('Contact/activeDetail')}')">复制</a></td> -->
									<td>{$vo.initiator}</td>
									<td>{$vo.province}{$vo.city}{$vo.district}{$vo.detailaddress}</td>
									<td>{$vo.add_time|date="Y-m-d H:i",###}</td>
									<td>{$vo.active_begin_time|date="Y-m-d H:i",###}</td>
									<td>
										<a href="{:U('Contact/editActive',array('id'=>$vo['id']))}" class="btn btn-default btn-sm" data-toggle="tooltip" data-placement="top" title="编辑"><i class="fa fa-pencil"></i></a>&nbsp;&nbsp;
										<a href="{:U('Contact/delactive',array('id'=>$vo['id']))}" onclick="return confirm('此操作不可恢复，确认删除？');return false;" class="btn btn-default btn-sm" data-toggle="tooltip" data-placement="top" title="删除"><i class="fa fa-times"></i></a>
										<a href="{:U('Contact/statistics',array('id'=>$vo['id']))}" class="btn btn-default btn-sm" data-toggle="tooltip" data-placement="top" title="统计"><i class="fa fa-signal"></i></a>
									</td>
								</tr>
							</volist>
						</notempty>
					</tbody>
			</table>
		 	<!-- 分页 -->
	        <div class="page">
				{$_page}
	        </div>
		</div>
	</div>
</div>
	
</block>

<block name="script">
	<script type="text/javascript">
		highlight_subnav('{:U('Contact/activeList')}');
	</script>
</block>