<extend name="Public/basic" />

<block name="body">
	<!-- 标题栏 -->
	<div class="main-title">
		<h2>插件列表</h2>
	</div>
	<!-- 数据列表 -->
	<div class="panel panel-default">
		<div class="row" style="padding: 20px 10px;">
			<div class=" col-sm-12">
			<a href="{:U('create')}" class="btn btn-primary">快速创建</a>
			</div>
		</div>
		<div class="table-responsive panel-body">
		        <table class="table table-hover">
				<thead>
					<tr>
						<th>名称</th>
						<th>标识</th>
						<th>描述</th>
						<th width="83px">状态</th>
						<th>作者</th>
						<th width="83px">版本</th>
						<th width="150px">操作</th>
					</tr>
				</thead>
				<tbody>
					<notempty name="_list">
					<volist name="_list" id="vo">
					<tr>
						<td>{$vo.title}</td>
						<td>{$vo.name}</td>
						<td>{$vo.description}</td>
						<td>{$vo.status_text|default="未安装"}</td>
						<td><a target="_blank" href="{$vo.url|default='http://www.onethink.cn'}">{$vo.author}</a></td>
						<td>{$vo.version}</td>
						<td>
							<empty name="vo.uninstall">
								
							<a href="{:U('group?addname='.$vo['name'])}" class="init-model">分组</a>
							<?php if ($vo['status'] >=0): ?>
								<eq name="vo.status" value="0">
									<a class="ajax-get" href="{:U('enable',array('id'=>$vo['id']))}">启用</a>
								<else />
									<a class="ajax-get" href="{:U('disable',array('id'=>$vo['id']))}">禁用</a>
								</eq>
							<?php endif ?>
								{// <eq name="vo.author" value="thinkphp">}
									<a class="<!--ajax-get-->" href="{:U('uninstall?id='.$vo['id'])}">卸载</a>
								{// </eq>}
							<else />
								<a class="<!--ajax-get-->" href="{:U('install?addon_name='.$vo['name'])}">安装</a>
							</empty>
						</td>
					</tr>
					</volist>
					<else/>
					<td colspan="6" class="text-center"> aOh! 暂时还没有内容! </td>
					</notempty>
				</tbody>
			</table>
		</div>
		<!-- 分页 -->
	    <div class="page">
	        {$_page}
	    </div>
	</div>
</block>
<block name="script">
<div id="publicMyModalDialogs" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>
<script type="text/javascript">
publicModel={
		"Initialize":function(target){
			 $("#publicMyModalDialogs").load(target);
			 $("#publicMyModalDialogs").modal('show');
		}
	};
highlight_subnav("{:U('Addons/index')}");
</script>
</block>
