<extend name="Public/basic"/>
<block name="style">
	<style type="text/css">
		.table thead tr td span{ width: 100px;}
	</style>
</block>
<block name="body">
	<ol class="breadcrumb" style="padding:5px 0;">
		<li class="active">添加用户等级</li>
	</ol>
	<ul class="nav nav-tabs">
		<li><a href="{:U('Member/level')}">用户组列表</a></li>		
		<li class="active"><a href="{:U()}"><i class="fa fa-plus"></i>添加用户组</a></li>
	</ul>
	<form action="{:U()}" method="post" class="form-horizontal">
    	<div class="form-group">
			<label class="col-xs-12 col-sm-2 col-md-1 control-label"><span style="color:red">*</span>等级名称</label>
			<div class="col-xs-12 col-sm-8 col-md-5">
				<input type="text" name="title" id="title" class="form-control" value="{$level['title']}">
			</div>
		</div>
		<div class="form-group">
			<label class="col-xs-12 col-sm-2 col-md-1 control-label"><span style="color:red">*</span>数字等级</label>
			<div class="col-xs-12 col-sm-8 col-md-5">
				<input type="text" name="grade" id="grade" class="form-control" value="{$level['grade']}">
			</div>
		</div>
		<div class="form-group">
			<label class="col-xs-12 col-sm-2 col-md-1 control-label"><span style="color:red">*</span>等级图片</label>
			<div class="col-xs-12 col-sm-8 col-md-5">
				{:tpl_form_field_image('levelicon', $level['levelicon'], '', array('extras' => array('text' => 'readonly')))}
			</div>
		</div>
		<div class="form-group">
			<label class="col-xs-12 col-sm-2 col-md-1 control-label"><span style="color:red">*</span>排序</label>
			<div class="col-xs-12 col-sm-8 col-md-5">
				<input type="text" name="sort" id="sort" class="form-control" value="{$level['sort']}">
			</div>
		</div>
		<div class="form-group">
			<label class="col-xs-12 col-sm-2 col-md-1 control-label">等级状态</label>
			<div class="col-xs-12 col-sm-8 col-md-5">
				<select name="status" id="status" class="form-control">
					<option value="1" >正常</option>
				    <option value="0" >隐藏</option>
				   	<option value="-1">禁用</option>
				</select>
			</div>
		</div>
		<div class="form-item">
			<input name="id" type="hidden" value="{$id}"/>
			<button class="btn submit-btn ajax-post" id="submit" type="submit" target-form="form-horizontal">确 定</button>
			<button class="btn btn-return" onclick="javascript:history.back(-1);return false;">返 回</button>
		</div>
	</form>
</block>
<block name="script">
<script type="text/javascript">
	setFromValue('status', "{$level['status']}");
	highlight_subnav("{:U('Member/level')}");
</script>
</block>
	