<extend name="Public/basic"/>
<block name="style"></block>
<block name="body">
	<include file="tabs" />
	<div class="main">
	    <form action="" method="post" class="form-horizontal form" enctype="multipart/form-data" >
	        <input type='hidden' name='setid' value="{$arr['set']['id']}" />
	        <input type='hidden' name='op' value="member" />
	        <div class="panel panel-default">
	            <div class='panel-body'>  
	                <div class="form-group">
	                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">默认会员级别名称</label>
	                    <div class="col-sm-9 col-xs-12">
	                        <input type="text" name="shop[levelname]" class="form-control" value="<php> echo empty($arr['set']['shop']['levelname'])?'普通会员':$arr['set']['shop']['levelname'];</php>"  />
	                        <span class="help-block">会员默认等级名称，不填写默认“普通会员”</span>
	                    </div>
	                </div>
	                <div class="form-group">
	                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">会员等级说明连接</label>
	                    <div class="col-sm-9 col-xs-12">
	                        <input type="text" name="shop[levelurl]" class="form-control" value="{$arr['set']['shop']['levelurl']}" />
	                    </div>
	                </div>
	                
	                <div class="form-group"></div>
	                
					<div class="form-group">
						<label class="col-xs-12 col-sm-3 col-md-2 control-label"></label>
						<div class="col-sm-9 col-xs-12">
							<input type="submit" name="submit" value="提交"class="btn btn-primary col-lg-1" />
						</div>
					</div>
			</div>
	        </div>     
	    </form>
	</div>
</block>	
<block name="script">
	<script>
		highlight_subnav("{:U('Sysset/index')}");
	</script>
</block>