<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
	<block name="title"><title>{:C('WEB_SITE_TITLE')}</title></block>
    <link href="__ROOT__/Public/sx.png" type="image/x-icon" rel="shortcut icon">
    <link href="__HOME_CSS__/font-awesome.min.css" rel="stylesheet" type="text/css">
</head>
	<script type="text/javascript" src="__HOME_JS__/lib/jquery-1.11.1.min.js"></script>
	<script type="text/javascript" src="__HOME_JS__/require.js"></script>
	<script type="text/javascript" src="__HOME_JS__/app/config.js"></script>
	<block name="style"></block>
<body>
	<block name="body"></block>
	<block name="script"></block>
</body>
<script type="text/javascript" src="__HOME_JS__/common.js"></script>
</html>