<div class="footerBox">
	<ul>
		<li><a href="http://kj.baguatan.cn/kuangjia/index.php?s=Home/Punchcard/index"><p><i class="am-icon-home"></i></p><span>首页</span></a></li>
		<li><a href="http://kj.baguatan.cn/kuangjia/index.php?s=Home/Shop/index"><p><i class="am-icon-shopping-cart"></i></p><span>商城</span></a></li>
		<li><a href="http://kj.baguatan.cn/kuangjia/index.php?s=Home/Activity/index"><p><i class="am-icon-globe"></i></p><span>活动</span></a></li>
		<li><a href="http://kj.baguatan.cn/kuangjia/index.php?s=Home/Index/index"><p><i class="am-icon-user"></i></p><span>我的</span></a></li>
	</ul>
</div>