<notempty name="punchList">
	<volist name="punchList" id="punchInfo">
		<li>
			<div class="signDate"><span>{$punchInfo['daily']}</span><a>{$punchInfo['montch']}月</a></div>
			<div class="signContent">
				<div class="signPicBox">
					<notempty name="punchInfo.images">
						<volist name="punchInfo.images" id="image" key="k">
							<div class="myPicBox">
								<if condition='$k gt 1'>
									<div style="display: none;">
										<a rel="gallery-{$punchInfo['id']}" href="{$image|tomedia}" class="swipebox" title="{$punchInfo['title']}"></a>
									</div>
								<else/>
									<div class="signPic">
										<a rel="gallery-{$punchInfo['id']}" href="{$image|tomedia}" class="swipebox" title="{$punchInfo['title']}"><img src="{$image|getThumbUrl}" alt="" title="" border="0" /></a>
									</div>
								</if>
							</div>
						</volist>
					</notempty>
					<div class="signScore">
						<h1>{$punchInfo['title']}</h1>
						<notempty name="punchInfo.images">
							<h2>共{$punchInfo['images']|count}张</h2>
						</notempty>
					</div>
				</div>
				<div class="signFeel">
					<p>{$punchInfo['content']}</p>
				</div>
			</div>
		</li>
	</volist>
</notempty>
<input type="hidden" value="{$nextNumber}" class="nextnum">