<extend name="Public/basic"/>
<block name="body">
	<ul class="nav nav-tabs">
		<if condition="$do eq 'menuList'">
			<li class="active"><a href="{:U('Reply/menuList',array('do'=>'listInfo'))}">自定义菜单</a></li>	
			<li ><a href="{:U('Reply/addMenu',array('do'=>'listInfo'))}">添加菜单</a></li>	
		<elseif  condition="$do eq 'addMenu'"/>
		    <li ><a href="{:U('Reply/menuList',array('do'=>'listInfo'))}">自定义菜单</a></li>	 
			<li class="active"><a href="{:U('Reply/addMenu',array('do'=>'listInfo'))}">添加菜单</a></li>	
		<else/>	
		<li class="active"><a >修改自定义菜单</a></li>	 	
		</if>
	</ul>
		<if condition="$do eq 'menuList'">
		<!-- 清空菜单 -->
		<form action="{:U('Reply/clearMenu')}" method="post" class="form-horizontal">
			<div class="form-group col-sm-12">
					<input type="submit" name="submit" value="清空菜单" class="btn btn-primary col-lg-1" /> 
				</div>
		</form>
		<div class="panel panel-default">
			<div class="table-responsive panel-body">
				<table class="table table-hover">
					<tbody>
						<volist name="list" id="vo">
							<tr>
								<td>{$vo.title_show}</td>
								<if condition="$vo['url']  == '' ">
									<td>{$vo.keyword}</td>
								<else/>
									<td>{$vo.url}</td>
								</if>
								<td>
									<a href="{:U('Reply/delMenu',array('id'=>$vo['id'],'pid'=>$vo['pid']))}" onclick="return confirm('删除后不能恢复，您确定删除吗？')" class="btn btn-default btn-sm" data-toggle="tooltip" data-placement="top" title="" data-original-title="删除此菜单"><i class="fa fa-times">&nbsp;&nbsp;删除此菜单</i></a>
								</td>
								 <if condition="$vo['url']  == '' ">
								 <!-- 修改关键字 --> 
								  <td>
										<a href="{:U('Reply/upMenu',array('id'=>$vo['id'],'op'=>'关键词'))}"  class="btn btn-default btn-sm" data-toggle="tooltip" data-placement="top" title="" data-original-title="修改关键字"><i class="fa fa-pencil">&nbsp;&nbsp;修改关键字</i></a>
									</td>  
								 <else/>
								 <!-- 修改路径 --> 
								  <td>
								  
										<a href="{:U('Reply/upMenu',array('id'=>$vo['id'],'op'=>'路径'))}"  class="btn btn-default btn-sm" data-toggle="tooltip" data-placement="top" title="" data-original-title="修改路径"><i class="fa fa-pencil">&nbsp;&nbsp;修改此路径</i></a>
									</td>  
								 </if>
								<if condition="$vo.pid == 0">
									<td>
										<a href="{:U('Reply/addMenu',array('pid'=>$vo['id']))}"  class="btn btn-default btn-sm" data-toggle="tooltip" data-placement="top" title="" data-original-title="添加子菜单"><i class="fa fa-plus">&nbsp;&nbsp;添加子菜单</i></a>
									</td>  
								<else/>
								 <td><a></a></td>	
								</if>
							</tr>
						</volist>
					</tbody>
				</table>
				 <!-- 分页 -->
		        <div class="page">
					{$_page}
		        </div>
			</div>
		</div>
    <!-- 添加菜单 -->		
	<elseif  condition="$do eq 'addMenu'"/>	
	     <form action="{:U('Reply/addMenu')}" method="post" class="form-horizontal" role="form" id="form1" onsubmit="return check()">
			<div class="panel panel-default">
				<div class="form-group"></div>   
			   <div class="form-group">
					<label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label" style="width: 130px;">上级菜单</label>
					<div class="col-sm-7 col-lg-9 col-xs-12">
						<select name="menu[pid]" class="form-control">
						      <option vakye='0'>一级菜单</option>
						  <volist name="pmenu" id="vo">   
						       <option value='{$vo.id}'  <if condition="$pid==$vo['id']"> selected="selected" </if> >{$vo.title}</option>
						  </volist>
						</select>
					</div>
				</div>
				 
				  <div class="form-group">
					<label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label" style="width: 130px;">菜单类型</label>
					<div class="col-sm-7 col-lg-9 col-xs-12">
						<select name="menu[type]" class="form-control" id="type" onchange="changeType(this.value)">
						      <option vakye='view'>链接</option>
						      <option vakye='click'>触发</option>
						</select>
					</div>
				</div>
				
				<div class="form-group">
					<label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label"
						style="width: 130px;">菜单名称</label>
					<div class="col-sm-8 col-lg-9 col-xs-12">
						<input class="form-control" name="menu[title]" id="title" type="text">
					</div>
				</div>
				<div class="form-group" id="url">
					<label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label"
						style="width: 130px;">链接</label>
					<div class="col-sm-8 col-lg-9 col-xs-12">
						<input class="form-control" name="menu[url]"  type="text" id="urlval">
					</div>
				</div>
				<div class="form-group" style="display:none;" id="keyword">
					<label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label"
						style="width: 130px;">触发关键字</label>
					<div class="col-sm-8 col-lg-9 col-xs-12">
						<input class="form-control" name="menu[keyword]"  type="text" id="keywordval">
					</div>
				</div>
			</div>
				<div class="form-group col-sm-12">
					<input type="submit" name="submit" value="提交" class="btn btn-primary col-lg-1" /> 
				</div>
		</form>
	<elseif condition="$do eq 'upMenu'"/>
	 <form action="{:U('Reply/upMenu')}" method="post" class="form-horizontal" role="form" id="form1" onsubmit="return checkU()">
			<div class="panel panel-default">
				<div class="form-group"></div> 
				<input  type="hidden" name="id" value="{$id}"/> 
				<div class="form-group">
					<label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label"
						style="width: 130px;">{$op}</label>
					
					<div class="col-sm-8 col-lg-9 col-xs-12">
					    <input type="hidden" name="upType" value="{$op}"/>	
						<input class="form-control" name="upInfo" id="" type="text" value="{$menuval}">
					</div>
				</div>
				<div class="form-group">
					<label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label"
						style="width: 130px;">菜单名</label>
					
					<div class="col-sm-8 col-lg-9 col-xs-12">
						<input class="form-control" name="menuname" id="" type="text" value="{$menuname}">
					</div>
				</div>
			</div>
				<div class="form-group col-sm-12">
					<input type="submit" name="submit" value="提交" class="btn btn-primary col-lg-1" /> 
				</div>
		</form>
	<else/>	
	</if>
</block>
<block name="script">
<script type="text/javascript">
	highlight_subnav('{:U('Reply/menuList')}');
	setFromValue("menu[pid]", {$pid|default=0});
	//根据不同类型添加不同内容
	function changeType(value){
		if(value=="链接"){
		   $("#keyword").hide();
		   $("#url").show();
		}else{
			 $("#keyword").show();
			   $("#url").hide();
		}
	}
	//验证添加菜单
	function check(){
		var title=$("#title").val();
		var url=$("#urlval").val();
		var keyword=$("#keywordval").val();
		var type=$("#type").val();
		if(title==null||title==""){
			alert("请输入菜单名!");
			return false;
		}
		if(type=="链接"){
			//验证url
			if(url==null||url==""){
				alert("请输入路径!");
				return false;
			}else{
				return CheckUrl(url);
			}
			
		}else{
			//验证关键字
			if(keyword==null||keyword==""){
				alert("请输入关键词!");
				return false;
			}
		}
		
	}
	//验证路径
	function checkU(){
		var url=document.getElementById('url').value;
		if(url==null||url==""){
			alert("请输入路径!");
			return false;
		}else{
			return CheckUrl(url);
		}
	}
	//验证url
	function CheckUrl(str) { 
		var RegUrl = new RegExp(); 
		RegUrl.compile("^[A-Za-z]+://[A-Za-z0-9-_]+\\.[A-Za-z0-9-_%&\?\/.=]+$");//jihua.cnblogs.com 
	
		if (!RegUrl.test(str)) { 
			alert("请输入正确的路径！");
		    return false; 
		}else{
			return true;	
		}
		 
	} 
	
</script>
</block>
	